*{
    
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 ;
    padding: 0 ;
    color: white;
}

header{
    background-color: rgb(99, 99, 99);
    padding: 5px;
    
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .container a {
    text-decoration: none; 
    padding: 10px;
    
}

#episodes{
    background-color: gray;
}

#episodes h2{
    padding-top: 0.5%;
    padding-bottom: 1%;
}

.episodes-section{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;

}
.episodes-section li{
    width: 30%;
}
.episodes-section li img{
    width: 100%;
    padding: 5px;
}

.episodes-section li img:hover{
    background-color: red;
}

.episodes-section li h5{
    padding: 2px;
    font-family: 'Comic Neue', cursive;
    background-color: rgb(83, 83, 83);
}
.episodes-section li p{
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(49, 49, 49);
}

#about{
    background-color: rgb(83, 83, 83);
    align-items: center;
}

#about p{
    margin-left: 50px;
    font-size: large;
    background-color:rgb(49, 49, 49) ;
    
}

#about h2{
    padding: 1% 0;
}

.aboutus {
    display: flex;
    justify-content: space-between;
}

.aboutus img{
    height: 500px;
    padding-bottom: 1%;
}

#contact{
    background-color: rgb(44, 44, 44);
    
}

#contact h2{
    padding: 1% 0;
}

form input,form textarea,form button{
    display: block;
    width: 300px;
    padding: 20px 10px;
    resize: none;
    font-family: 'Comic Neue', cursive;
    color: black;
    
}


form button{
    background-color: grey;
    color: white;
}
footer{
    background-color: black;
    padding: 0.5% 0;
}

.container{
    max-width: 1750px;
    margin: 0 auto;
}


